<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$subject</title>

<!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->

</head>

<body bgcolor="#FFFFFF" style="margin:0;padding:0;">

<!-- HEADER -->
<table style="width: 100%;margin:0;padding:0;" bgcolor="#428bca">
	<tr>
		<td></td>
		<td style="display:block!important;max-width:600px!important;margin:0 auto!important;clear:both!important;" >

				<div style="padding:15px;max-width:600px;margin:0 auto;display:block;">
				<table bgcolor="#428bca">
					<tr>
						<td><h2 style='color:#FFFFFF;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px;margin:0;padding:0;font-weight:200; font-size: 37px;'>Hey Bob!</h2></td>
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table style="width: 100%;margin:0;padding:0;">
	<tr>
		<td></td>
		<td style="display:block!important;max-width:600px!important;margin:0 auto!important;clear:both!important;" bgcolor="#FFFFFF">

			<div style="padding:15px;max-width:600px;margin:0 auto;display:block;">
			<table>
				<tr>
					<td>
						<p style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size:17px;padding:15px;background-color:#0693B6;color:#FFFFFF;margin-bottom: 15px;'>
              You have a new message from the contact form at <a style="color:#DDDDDD;" href="http://robertrotberg.com">robertrotberg.com</a>
            </p>
            <h4 style='font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;font-weight:500; font-size: 23px;'>Contact Information</h4>
            <p style='color:#666;font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'><strong>Name: </strong>$name</p>
            <p style='color:#666;font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'><strong>Email: </strong>$email</p>
            <p style='color:#666;font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'><strong>Phone: </strong>$phone</p>
            <h4 style='font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;font-weight:500; font-size: 23px;'>Message</h4>
						<p style='font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;padding:15px;background-color:#ECF8FF;margin-bottom: 15px;'>
              $message
            </p>
					</td>
				</tr>
			</table>
			</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

</body>
</html>
