/**
 * MAIN
 * Stylesheet for whole app
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background-color: #F3F3F3;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 150%;
}

.pad-top {
  padding-top: 2em;
}
.pad-bottom {
  padding-bottom: 2em;
}

.button-holder a {
  margin-left: 20px;
  margin-right: 20px;
}

.btn-xlg {
  padding: 14px 28px;
  font-size: 0.75em;
  border-color: white;
  border-width: 2px;
}

a {
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  color: #34A8BE;
}

a:hover {
  color: #147D90;
  text-decoration: none;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.intro-header {
  padding: 45px;
}

.pattern-bg {
  background-color: #0693B6;
  color: white;
  background-image: url('../img/shattered.png');
}

.intro-message h1 {
  font-family: 'Roboto Slab', 'Museo', serif;
  font-size: 4em;
  font-weight: 100;
  padding-bottom: 15px;
}

.intro-message h3 {
  font-weight: 700;
  font-size: 1.8em;
}

.content {
  color: #666;
  line-height: 39px;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 60px;
}

.content div, .content p {
  font-family: 'Roboto Slab', 'Museo', serif;
  font-weight: 300;
  line-height: 1.8em;
  font-size: 1.06em;
}

.content .leader {
  font-family: 'Roboto Slab', 'Museo', serif;
  font-weight: 300;
  line-height: 1.8em;
  font-size: 1.6em;
  padding-bottom: 15px;
}

.sidebar {
  margin-top: 15px;
  padding: 0;
  border-left: 6px solid #0693B6;
}

.sidebar h2 {
  margin: 0;
  padding: 10px;
  background-color: #0693B6;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sidebar ul li {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.sidebar ul li:nth-child(odd) {
  background-color: #E1EFF5;
}

.dark-well {
  padding: 2em;
  font-size: 2em;
  font-weight: 700;
}

.dark-well timer {
  font-size: 0.6em;
  font-weight: 400;
}

footer {
  color: #aaa;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer .copyright {
  float: left;
}

footer .copyright.right {
  float: right;
}

@media (max-width: 800px) {
  .intro-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  body {
    font-size: 120%;
  }
  content {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 560px) {
  body {
    font-size: 100%;
  }
}

@media (max-width: 440px) {
  body {
    font-size: 90%;
  }
}
