/**
 * MAIN
 * Stylesheet for whole app
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
  background-color: #F3F3F3;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.intro-header {
  background-color: #0693B6;
  color: white;
  padding: 45px;
  background-image: url('/app/img/shattered.png');
}

.intro-message h1 {
  font-family: 'Roboto Slab', 'Museo', serif;
  font-size: 4em;
  font-weight: 100;
  padding-bottom: 15px;
}

.intro-message h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.8em;
}

.content {
  color: #666;
  display: block;
  line-height: 39px;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 60px;
}

.content .leader {
  font-family: 'Roboto Slab', 'Museo', serif;
  font-weight: 300;
  font-size: 26px;
  padding-bottom: 15px;
}

footer {
  color: #aaa;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (max-width: 560px) {
  .intro-message h1 {
    font-size: 3em;
  }
  .intro-message h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 440px) {
  .intro-message h1 {
    font-size: 2.5em;
  }
  .intro-message h3 {
    font-size: 1em;
  }
}
