<div class="container pad-top-half" ng-controller="EndorseCtrl">
  <h1>Current Endorsements</h1>
  <p>A list of everyone who has pledged to endorse Bob. To submit your own endorsement, click the Support button above.</p>
  <h2 ng-hide="!errorLoadingEndorsements">Error loading endorsements. Try reloading the page.</h2>
  <h2 ng-hide="endorsements && endorsements[0] || errorLoadingEndorsements">Loading endorsements...</h2>
  <ul ng-show="endorsements && endorsements[0] && !errorLoadingEndorsements" ng-hide="errorLoadingEndorsements" class="endorsements">
    <li ng-repeat="item in endorsements | orderBy : 'name' ">{{item.name}}</li>
  </ul>
</div>
