<div class="container pad-top" ng-controller="ContactCtrl">
  <p>Questions? Comments? Feel like talking? Just send me a message through the form below and I'll get back to you as soon as possible. I appreciate hearing your thoughts.</p>

  <form ng-hide="showConfirmation" class="form-horizontal pad-top" name="cForm">
    <fieldset>

      <!-- Name-->
      <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label" for="name">Name*</label>
        <div class="col-md-9 col-sm-10">
          <input id="name" name="name" ng-model="name" type="text" placeholder="John Q. Public" class="form-control input-lg" required>
          <p ng-show="!cForm.name.$pristine && cForm.name.$error.required" class="help-block">
            Please enter your name.
          </p>
        </div>

      </div>

      <!-- Email-->
      <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label" for="email">Email*</label>
        <div class="col-md-9 col-sm-10">
          <input id="email" name="email" ng-model="email" type="email" placeholder="me@example.com" class="form-control input-lg" required>
          <p ng-show="!cForm.email.$pristine && cForm.email.$error.required" class="help-block">
            Please enter your email.
          </p>
          <p ng-show="!cForm.$pristine && !cForm.email.$error.required && !cForm.email.$valid" class="help-block">
            Looks like that's not a valid email. Try again.
          </p>
        </div>
      </div>

      <!-- Phone-->
      <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label" for="phone">Phone Number</label>
        <div class="col-md-9 col-sm-10">
          <input id="phone" name="phone" type="phone" placeholder="(123) 456-7890" class="form-control input-lg">
        </div>
      </div>

      <!-- Message -->
      <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label" for="message">Message*</label>
        <div class="col-md-9 col-sm-10">
          <textarea placeholder="Your message here" rows="6" class="form-control" id="message" name="message" ng-model="message" required></textarea>
          <p ng-show="!cForm.message.$pristine && cForm.message.$error.required" class="help-block">
            Please enter a message.
          </p>
        </div>
      </div>

      <!-- Submit -->
      <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label" for="submitButton"></label>
        <div class="col-md-9 col-sm-10">
          <button id="submitButton" name="submitButton" type="submit" ng-disabled="cForm.$invalid" class="btn btn-info btn-lg" ng-click="submitMessage(cForm)">Send Message</button>
          <p ng-show="showGenericError" class="help-block">
            Your message couldn't be submitted because you haven't filled out the required fields
          </p>
        </div>
      </div>

    </fieldset>
  </form>

  <!-- Confirmation message -->
  <div ng-show="showConfirmation" class="container">
    <p class="confirmation">Thanks for your message {{firstName}}! We'll be in touch shortly.</p>
  </div>

</div>
