<div class="container pad-top">
  <p>Thank you for your interest in supporting my campaign. You make all of this possible. After entering your preferred amount, click Donate to pay via PayPal. Alternatively, you can donate by sending a check to the following address.</p>

  <div class="col-md-9 pad-top">
    <form
      class="form-horizontal"
      role="form"
      name="donateForm"
      action="https://www.paypal.com/cgi-bin/webscr"
      method="post">
      <fieldset>
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="robert_rotberg@harvard.edu">
        <input type="hidden" name="item_name" value="Donation to Robert I. Rotberg">
        <input type="hidden" name="currency_code" value="USD">

        <!-- User facing! -->

        <!-- Amount-->
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label" for="amount">Amount ($)</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <input
              type="number"
              class="form-control input-lg input-large"
              ng-model="amount"
              name="amount"
              min="0"
              required>
            <span ng-show="!donateForm.$pristine && donateForm.amount.$error.required" class="help-block">Please enter a valid numerical amount.</span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <button type="submit" name="submit" id="submit" ng-disabled="donateForm.$invalid" class="btn btn-info btn-lg" ng-click="buttonText = 'Redirecting you to PayPal...'">
              {{buttonText || 'Donate'}}
            </button>
          </div>
        </div>

        <!-- Sumbit -->
        <div class="form-group">

        </div>

      </fieldset>
    </form>
  </div>

  <div class="col-md-3 small pad-top">
    <address>
      <strong>Robert Rotberg</strong><br>
      14 Barberry Rd<br>
      Lexington MA 02421<br>
    </address>
  </div>


</div>
